body{
    background-image:url(https://picsum.photos/1024);
    background-size:cover;
}
h1{
    border-bottom:10px solid rgb(204, 127, 127) !important;
}
#container{
    display:grid;
    grid-template-columns: 200px 1fr;
    }